body{
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

form{
    width: 60%;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 48px;
}
